.clsDataTableContainer
{
    
}
.clsDataTableContainer .filterUI
{
    @apply p-4 bg-grey-100 absolute z-9999 border rounded w-96 h-64 max-h-64 overflow-y-auto top-10 left-44 block;
}
.clsDataTableContainer .filterBtns
{
    @apply w-full block bg-transparent;
    /* text-xs p-1 h-7 */
}
.clsDataTableContainer .filterBtns .paperclip.pushed
{
    @apply border-2 border-success rounded bg-success text-black underline;
}
.clsDataTableContainer .toolbar-button
{
    @apply mr-3 inline-block align-bottom cursor-pointer text-[1.5rem];
    /* w-5 h-5 */
}
.clsDataTableContainer .searchBox
{
    @apply float-right h-7 mb-1;
}
.clsDataTableContainer .searchInput
{
    @apply bg-transparent inline-block h-7 border border-slate-600 rounded-md sm:text-sm focus:border-grey-100 p-1 pl-6 shadow-sm placeholder-slate-600;
    /* focus:outline-none */
}
.clsDataTableContainer .searchCancelBtn
{
    @apply inline-block border rounded text-grey-800 bg-grey-100 h-full ml-1 w-6 font-bold text-center;
}
.clsDataTableContainer .table
{
    @apply box-border w-full border border-slate-600 text-left relative;
}
.clsDataTableContainer .table .table-header-group
{
    @apply bg-grey-100 text-black dark:text-black;
}
.clsDataTableContainer .table .table-header-group.sticky-header
{
    @apply sticky top-0;
}
.clsDataTableContainer .table .table-header-group .table-row
{
    @apply dark:bg-grey-900;
}
.clsDataTableContainer .table .table-row
{
    @apply break-inside-avoid border border-slate-600 dark:border-grey-50 text-black dark:text-white;
}
.clsDataTableContainer .table .table-row.alt-row
{
    @apply bg-gray-200 dark:bg-slate-600 dark:border-grey-50 text-black dark:text-white;
}
.clsDataTableContainer .table .table-cell
{
    @apply p-1 border border-slate-600 dark:border-grey-50;
}
.clsDataTableContainer .table .column-sort
{
    @apply float-right text-xs cursor-pointer text-grey-800;
}
.clsDataTableContainer .table .column-sort div
{
    @apply block leading-none;
}
.clsDataTableContainer .table .table-row-group
{
    @apply border border-slate-600;
}
.clsDataTableContainer .no-results
{
    @apply bg-grey-100 border border-slate-600 text-center text-xl font-bold p-4;
    /* text-center border border-slate-600 text-xl font-bold p-4 */
}
.clsDataTableContainer .titleRow
{
    @apply w-full mb-3;
}

.clsDataTableContainer .titleRow .title
{
    @apply inline-block font-bold text-lg w-8/12;
}

.clsDataTableContainer .titleRow .close
{
    @apply inline-block border rounded text-grey-800 text-center bg-grey-100 h-full ml-1 font-bold w-6 float-right;
}

.clsDataTableContainer .titleRow .clearFilter
{
    @apply border rounded text-grey-800 text-center bg-grey-100 p-1;
}

.clsDataTableContainer .filterUI .colHeadRow
{
    @apply w-full mb-3 font-bold;
}

.clsDataTableContainer .filterUI .colHeadRow .chrc1
{
    @apply w-2/12 text-left inline-block underline;
}

.clsDataTableContainer .filterUI .colHeadRow .chrc2
{
    @apply w-5/12 text-center inline-block underline;
}

.clsDataTableContainer .filterUI .colHeadRow .chrc3
{
    @apply w-1/12 text-center inline-block underline;
}

.clsDataTableContainer .filterUI .colHeadRow .chrc4
{
    @apply w-4/12 text-right inline-block underline;
}

.clsDataTableContainer .filterUI .filterContainer
{
    @apply block;
}

.clsDataTableContainer .filterUI .filterContainer .filterRow
{
    @apply w-full mb-2 align-middle;
}

.clsDataTableContainer .filterUI .keyEl
{
    @apply inline-block w-2/12 align-middle;
}

.clsDataTableContainer .filterRow .input
{
    @apply w-5/12 bg-transparent inline-block h-7 border border-slate-600 rounded-md sm:text-sm focus:border-grey-100 p-1 pl-6 shadow-sm placeholder-slate-600 focus:outline-none align-middle;
}

.clsDataTableContainer .filterRow .clear
{
    @apply inline-block border rounded text-grey-800 bg-grey-100 h-full ml-1 w-5 font-bold align-middle;
}

.clsDataTableContainer .filterRow .checkbox
{
    @apply bg-transparent inline h-7 border border-slate-600 rounded-md sm:text-sm p-1 pl-6 shadow-sm placeholder-slate-600 float-right align-middle focus:border-grey-100 focus:checked:border-grey-100 focus:outline-none checked:bg-slate-600 focus:bg-white focus:checked:bg-slate-600 focus-visible:bg-white focus-visible:checked:bg-slate-600 hover:border-grey-100 hover:bg-black hover:checked:bg-black;
}

.clsDataTableContainer .exportUI
{
    @apply p-4 block absolute bg-grey-100 z-9999 border rounded w-96 h-64 max-h-64 overflow-y-auto top-10 left-44;
}

.clsDataTableContainer .exportUI .uiTitleRow
{
    @apply w-full mb-6;
}

.clsDataTableContainer .exportUI .uiTitle
{
    @apply inline-block w-3/4 text-lg font-bold;
}

.clsDataTableContainer .exportUI .closeUI
{
    @apply inline-block border rounded p-2 text-sm bg-grey-100 font-bold float-right;
}

.clsDataTableContainer .exportUI .exportCsv
{
    @apply block border rounded p-2 m-2 bg-slate-800 text-white font-bold;
}

.clsDataTableContainer .exportUI .exportTab
{
    @apply block border rounded p-2 m-2 bg-slate-800 text-white font-bold;
}

.clsDataTableContainer .exportUI .exportJson
{
    @apply block border rounded p-2 m-2 bg-slate-800 text-white font-bold;
}

.hidden
{
    display: none !important;
}

@-webkit-keyframes rotating /* Safari and Chrome */ 
{
    from 
    {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to 
    {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes rotating 
{
    from 
    {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to 
    {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
.rotating 
{
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}