@tailwind base;
@tailwind components;
@tailwind utilities;

.kw-hidden
{
    display: none !important;
}

.clsDataTableContainer
{
    @apply bg-white;
}
.clsDataTableContainer .filterUI
{
    @apply p-4 bg-greyLite absolute z-9999 border rounded w-96 h-64 max-h-64 overflow-y-auto top-10 left-44 block;
}
.clsDataTableContainer .filterBtns
{
    @apply w-full block text-xs p-1 h-7;
}
.clsDataTableContainer .filterBtns .paperclip.pushed
{
    @apply border-2 border-success rounded bg-success text-success underline;
}
.clsDataTableContainer .toolbar-button
{
    @apply w-5 h-5 mr-3 inline-block align-bottom cursor-pointer;
}
.clsDataTableContainer .searchBox
{
    @apply float-right h-7 mb-1;
}
.clsDataTableContainer .searchInput
{
    @apply bg-transparent inline-block h-7 border border-slate rounded-md sm:text-sm focus:border-greyLite p-1 pl-6 shadow-sm placeholder-slate;
    /* focus:outline-none */
}
.clsDataTableContainer .searchCancelBtn
{
    @apply inline-block border rounded text-greyDark bg-greyLite h-full ml-1 w-6 font-bold text-center;
}
.clsDataTableContainer .table
{
    @apply box-border w-full border border-slate text-left relative;
}
.clsDataTableContainer .table .table-header-group
{
    @apply bg-greyLite;
}
.clsDataTableContainer .table .table-header-group.sticky-header
{
    @apply sticky top-0;
}
.clsDataTableContainer .table .table-row
{
    @apply break-inside-avoid border border-slate;
}
.clsDataTableContainer .table .table-cell
{
    @apply p-1 border border-slate;
}
.clsDataTableContainer .table .column-sort
{
    @apply float-right text-xs cursor-pointer text-greyDark;
}
.clsDataTableContainer .table .column-sort div
{
    @apply block leading-none;
}
.clsDataTableContainer .table .table-row-group
{
    @apply border border-slate;
}
.clsDataTableContainer .no-results
{
    @apply bg-greyLite border border-slate text-center text-xl font-bold p-4;
    /* text-center border border-slate text-xl font-bold p-4 */
}


.clsDataTableContainer .titleRow
{
    @apply w-full mb-3;
}

.clsDataTableContainer .titleRow .title
{
    @apply inline-block font-bold text-lg w-8/12;
}

.clsDataTableContainer .titleRow .close
{
    @apply inline-block border rounded text-greyDark text-center bg-greyLite h-full ml-1 font-bold w-6 float-right;
}

.clsDataTableContainer .titleRow .clearFilter
{
    @apply border rounded text-greyDark text-center bg-greyLite p-1;
}

.clsDataTableContainer .filterUI .colHeadRow
{
    @apply w-full mb-3 font-bold;
}

.clsDataTableContainer .filterUI .colHeadRow .chrc1
{
    @apply w-2/12 text-left inline-block underline;
}

.clsDataTableContainer .filterUI .colHeadRow .chrc2
{
    @apply w-5/12 text-center inline-block underline;
}

.clsDataTableContainer .filterUI .colHeadRow .chrc3
{
    @apply w-1/12 text-center inline-block underline;
}

.clsDataTableContainer .filterUI .colHeadRow .chrc4
{
    @apply w-4/12 text-right inline-block underline;
}

.clsDataTableContainer .filterUI .filterContainer
{
    @apply block;
}

.clsDataTableContainer .filterUI .filterContainer .filterRow
{
    @apply w-full mb-2 align-middle;
}

.clsDataTableContainer .filterUI .keyEl
{
    @apply inline-block w-2/12 align-middle;
}

.clsDataTableContainer .filterRow .input
{
    @apply w-5/12 bg-transparent inline-block h-7 border border-slate rounded-md sm:text-sm focus:border-greyLite p-1 pl-6 shadow-sm placeholder-slate focus:outline-none align-middle;
}

.clsDataTableContainer .filterRow .clear
{
    @apply inline-block border rounded text-greyDark bg-greyLite h-full ml-1 w-5 font-bold align-middle;
}

.clsDataTableContainer .filterRow .checkbox
{
    @apply bg-transparent inline h-7 border border-slate rounded-md sm:text-sm p-1 pl-6 shadow-sm placeholder-slate float-right align-middle focus:border-greyLite focus:checked:border-greyLite focus:outline-none checked:bg-slate focus:bg-white focus:checked:bg-slate focus-visible:bg-white focus-visible:checked:bg-slate hover:border-greyLite hover:bg-black hover:checked:bg-black;
}

.clsDataTableContainer .exportUI
{
    @apply p-4 block absolute bg-greyLite z-9999 border rounded w-96 h-64 max-h-64 overflow-y-auto top-10 left-44;
}

.clsDataTableContainer .exportUI .uiTitleRow
{
    @apply w-full mb-6;
}

.clsDataTableContainer .exportUI .uiTitle
{
    @apply inline-block w-3/4 text-lg font-bold;
}

.clsDataTableContainer .exportUI .closeUI
{
    @apply inline-block border rounded p-2 text-sm bg-greyLite font-bold float-right;
}

.clsDataTableContainer .exportUI .exportCsv
{
    @apply block border rounded p-2 m-2 bg-slate text-white font-bold;
}

.clsDataTableContainer .exportUI .exportTab
{
    @apply block border rounded p-2 m-2 bg-slate text-white font-bold;
}

.clsDataTableContainer .exportUI .exportJson
{
    @apply block border rounded p-2 m-2 bg-slate text-white font-bold;
}

@-webkit-keyframes rotating /* Safari and Chrome */ 
{
    from 
    {
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to 
    {
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
@keyframes rotating 
{
    from 
    {
      -ms-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    to 
    {
      -ms-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -webkit-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}
.rotating 
{
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}